@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700&display=swap');
* {
    font-family: 'Roboto Mono', monospace;
}
body {
    display: flex;
    justify-content: center;
}
canvas {
    border: 1px solid black;
}
img {
    display: none;
}